<a href="https://colab.research.google.com/github/TrishaCueno/CPEN-21A-CPE-1-1/blob/main/Demo1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**INTRODUCTION TO PROGRAMMING**

**Naming of Variable**

In [ ]:
x = "Trisha"
print(x)

Trisha

In [ ]:
x = 'Trisha'
print(type(x))

<class 'str'>

In [ ]:
a = "Trisha"
A = "Faye"
print(a)
print(A)

Trisha
Faye

In [ ]:
a, b, c = 0, 1, 2
print(type(a))            #This is a program using a type function
print(b)
print(c)

<class 'int'>
1
2

In [ ]:
a = 4.50
print(type(a))            #This is a program using a type function

<class 'float'>

In [ ]:
a = float(4)
print((a))

4.0

**One Value to Multiple Variable**

In [ ]:
x = y = z = "four"
print(x)

four

In [ ]:
x = "enjoying"
print('Programing is'+ " " + x)

Programing is enjoying

In [ ]:
x = "Python"
y = " is enjoying"
print(x+y)

Python is enjoying

In [ ]:
x = 3
y = 5
sum = x + y
print(sum)

8

In [ ]:
x = 4
y = 5
print(x+y)
print(x-y)

9
-1

In [ ]:
x<y and x==x

True

In [ ]:
not(x<y or x==x)      #This is an example of comparison operators

False